{% extends "base.html" %}
{% block "body" %}
<h2> Search for Events </h2>
<table>
    <form action="{% url 'findClosest' mapid %}" method=POST>
    {% csrf_token %}
    {{ form_fc.as_table }}
    <td><input type="submit" name="submit" value="Find Closest Event to a given Coordinate"/>
    </form>
</table>
<table>
    <form action="{% url 'searchadv' mapid %}" method=POST>
    {% csrf_token %}
    {{ form_sadv.as_table }}
    <td><input type="submit" name="submit" value="Advanced Search"/>
    </form>
</table>
<br>
{% endblock %}