{% extends 'base.html' %}
{% block "body" %}
<div>
<button id="addbutton" value="Add">Create Map</button>
<button id="delbutton" value="Delete" disabled>Delete</button>
<button id="attachbutton" value="Attach" disabled>Attach</button>
<div style="float: right" id="attachname"></div>
</div>
	<ol id="maplist">
	</ol>

<!-- addblock (for maps) -->
<div id="addblock" style="position:fixed; top:50px; left:50px; display:none;
border: solid 1px #a0a0e0; background:#f0f0ff; padding: 20px; ">
<form id="addform" onSubmit="return false;">

<input type="hidden" name="id"/>
        <table border="0">
<tr><td><b>Name</b></td>
    <td><input type="text" name="name" size="50"></td></tr>
<tr><td colspan="2" align="right">
<button name="cancelbutton">Cancel</button>
<button name="actionbutton">Create</button>
    </td></tr>
	</table>
</form>
</div>

{% endblock %}
